/*Reset*/
*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

/*Styles for demonstration*/
html, body {
  height: 100%;
}

.wrapper {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Main styles*/
.button {
  font-family: Arial,sans-serif;
  text-decoration: none;
  position: relative;
  display: inline-block;

  &:hover {

    &:before, &:after {
      left: 100%;
      opacity: 0;
    }

    .button__text {
      top: -10px;
      color: #fff;
      transition: all 0.5s ease 0.2s;
      box-shadow: 0 5px 5px 0 #0c5b52;

      &:before, &:after {
        background-color: #18b5a4;
      }

      &:before {
        width: 100%;
      }
    }
  }

  &:active {

    .button__text {
      top: -7px;
      transition: all 0.1s ease 0s;
      box-shadow: 0 2px 0 0 #0c5b52;
    }

    @keyframes rotate {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }

  &:before, &:after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    border: 2px solid red;
    top: -10px;
    left: 50%;
    z-index: 1;
    transition: all 0.8s ease 0s;
    margin: 0 0 0 -40px;
  }

  &:before {
    animation: rotate 20s infinite linear;
  }

  &:after {
    animation: rotate 25s infinite linear;
  }

  &__text {
    position: relative;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    border-radius: 50px;
    font-size: 24px;
    text-transform: uppercase;
    color: rgba(0,0,0,0.3);
    letter-spacing: 10px;
    transition: all 0.8s ease 0s;
    top: 0;
    overflow: hidden;

    &:before, &:after {
      content: '';
      position: absolute;
      width: 50%;
      height: 100%;
      background-color: #eee;
    }

    &:before {
      left: 0;
      z-index: 2;
    }

    &:after {
      right: 0;
    }

    span {
      position: relative;
      z-index: 2;
    }
  }
}